.menu-nav{
    background: #333;
}
.menu-nav-ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.menu-nav-item{
    margin: 0 1rem;
}
.menu-nav-item a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.menu-nav-item a:hover{
    color:blue;
}